._1_首页{ background:url("1.首页.png") top left no-repeat; }
._1_首页_r4_c2{ width:191px; height:400px; background-position:-10px -10px; }
._1_首页_r5_c6{ width:133px; height:151px; background-position:-10px -420px; }
._1_首页_r7_c11{ width:70px; height:91px; background-position:-10px -581px; }
._1_首页_r8_c9{ width:60px; height:90px; background-position:-90px -581px; }
._1_首页_r9_c13{ width:92px; height:79px; background-position:-10px -682px; }
._1_首页_r10_c5{ width:85px; height:68px; background-position:-112px -682px; }
._1_首页_r2_c2{ width:15px; height:14px; background-position:-153px -420px; }

